<template name="notFound">

    <div class="row">
        <div class="center-align">
            <img src="images/404.png" style="padding-top: 2rem;">
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 offset-m4 l4 offset-l4 center">
            <h1>404</h1>

            <p>Page was not found. Please Continue with our homepage.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 offset-m4 l2 offset-l5">
            <button class="btn-large waves-effect waves-light col s12 home-page">Home page</button>
        </div>
    </div>

</template>
